.section-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.section-col {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.label-type-1 {
  font-size: 14px;
  font-weight: 800;
}

.big-label {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 15px;
  font-family: Roboto;
  color: #001dfc;
}

.link {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
}

.link:hover {
  transition: all linear 100ms;
  color: rgb(80, 185, 241);
  text-decoration: underline;
}

.paginate .selected {
  background: rgb(189, 192, 255) !important;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

body.tablet {
  background-image: url(/src/assets/picture/login-bg.png) !important;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

body.mobile {
  background-image: url(/src/assets/picture/login-bg.png) !important;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.show {
  transition: all linear 350ms;
  opacity: 1;
}